// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

/*                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  ╰───────────╮ 30  31 │ │ 32  33 ╭───────────╯
              ╰────────╯ ╰────────╯            */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define SYMBOLS 1
#define NUMBERS 2
#define FNS 3
#define NAV_BT 4

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS, TERM, QUICKTAP) \
        combo_##NAME { \
            bindings = <BINDINGS>; \
            key-positions = <KEYPOS>; \
            layers = <LAYERS>; \
            timeout-ms = <TERM>; \
        };

/ {
    combos {
        compatible = "zmk,combos";
        COMBO(tab,  &kp TAB,      0 1, DEFAULT SYMBOLS NUMBERS FNS NAV_BT, 50, 100)
        COMBO(colon,  &kp COLON,      3 4, DEFAULT SYMBOLS NUMBERS FNS NAV_BT, 50, 100)
        COMBO(caps,   &kp CAPS,       4 5, DEFAULT SYMBOLS NUMBERS FNS NAV_BT, 50, 100)
        COMBO(semi,   &kp SEMI,       5 6, DEFAULT SYMBOLS NUMBERS FNS NAV_BT, 50, 100)
        COMBO(del,    &kp DEL,        8 9, DEFAULT SYMBOLS NUMBERS FNS NAV_BT, 50, 100)
        COMBO(excl,   &kp EXCL,     14 15, DEFAULT SYMBOLS NUMBERS FNS NAV_BT, 50, 100)
        COMBO(lgui,   &kp LGUI,     10 20, DEFAULT SYMBOLS NUMBERS FNS NAV_BT, 50, 100)
        COMBO(lalt,   &kp LALT,     11 21, DEFAULT SYMBOLS NUMBERS FNS NAV_BT, 50, 100)
        COMBO(lctrl,   &kp LCTRL,     12 22, DEFAULT SYMBOLS NUMBERS FNS NAV_BT, 50, 100)
        COMBO(lshift,   &kp LSHIFT,     13 23, DEFAULT SYMBOLS NUMBERS FNS NAV_BT, 50, 100)
        COMBO(rshift,   &kp RSHIFT,     16 26, DEFAULT SYMBOLS NUMBERS FNS NAV_BT, 50, 100)
        COMBO(rctrl,   &kp RCTRL,     17 27, DEFAULT SYMBOLS NUMBERS FNS NAV_BT, 50, 100)
        COMBO(ralt,   &kp RALT,     18 28, DEFAULT SYMBOLS NUMBERS FNS NAV_BT, 50, 100)
        COMBO(rgui,   &kp RGUI,     19 29, DEFAULT SYMBOLS NUMBERS FNS NAV_BT, 50, 100)
    };

    keymap {
        compatible = "zmk,keymap";
        alpha {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │
            &kp Q      &kp W      &kp E      &kp R      &kp T          &kp Y      &kp U      &kp I      &kp O      &kp P
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │ ' "      │
            &kp A      &kp S      &kp D      &kp F      &kp G          &kp H      &kp J      &kp K      &kp L      &kp SQT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ , <      │ . >      │ / ?      │
            &kp Z      &kp X      &kp C      &kp V      &kp B          &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                    &lt NAV_BT ESCAPE  &lt FNS SPACE  &lt SYMBOLS  ENTER  &lt NUMBERS BSPC 
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        sym {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ {        │  &       │  *       │  (       │  }       │   │          │          │          │          │          │
            &kp LBRC    &kp AMPS   &kp STAR   &kp LPAR   &kp RBRC       &none    &none      &none      &none      &none 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ :        │  $       │  %       │  ^       │  +       │   │          │          │          │          │          │
            &kp COLON    &kp DLLR   &kp PRCNT  &kp CARET  &kp PLUS      &none    &none      &none      &none      &none 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ ~        │  !       │  @       │  hash    │  |       │   │          │          │          │          │          │
            &kp TILDE   &kp EXCL  &kp AT     &kp HASH  &kp PIPE         &none    &none      &none      &none      &none 
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                    )         _
                                            &kp RPAR &kp UNDER          &none    &none   
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        num {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ [        │  7       │  8       │  9       │   ]      │   │          │          │          │          │          │
            &kp LBKT    &kp N7     &kp N8     &kp N9      &kp RBKT          &none    &none      &none      &none      &none 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ ESCAPE   │  4       │  5       │  6       │  =       │   │          │          │          │          │          │
            &kp ESC    &kp N4     &kp N5     &kp N6      &kp EQUAL          &none    &none      &none      &none      &none 
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ `        │  1       │  2       │  3       │  \       │   │          │          │     ,    │     .    │    /     │
            &kp GRAVE  &kp N1     &kp N2     &kp N3      &kp BSLH         &none    &none      &kp COMMA  &kp DOT    &kp FSLH 
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &kp N0  &kp MINUS           &none    &none  
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        fun {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │   │          │          │          │          │          │
               &none    &none      &none      &none      &none         &kp PG_UP   &kp F7     &kp F8     &kp F9    &kp F10    
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
               &none    &none      &none      &none      &none         &kp HOME    &kp F4     &kp F5      &kp F6    &kp F11   
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
               &none    &none      &none      &none      &none         &kp PG_DN   &kp F1     &kp F2      &kp F3    &kp F12   
        //├──────────┼──────────┼──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────┼──────────┼──────────┤
                                            &none        &none         &kp TAB      &kp ENTER
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        nav_bt {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          │          │          │          │   │          │          │          │          │  BSPC    │
            &bootloader &sys_reset &none     &none    &bt BT_CLR      &none   &none         &none       &none     &none
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │  ENTER   │
            &none      &none       &none     &none       &none        &kp LEFT      &kp DOWN   &kp UP    &kp RIGHT &none
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │          │   │          │          │          │          │          │
    &bt BT_SEL 0  &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4      &none      &none      &none      &none      &none 
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                            &none   &none              &none      &none 
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
